body{
    background-color: rgb(22, 22, 22);
    user-select: none;
}


.main > div{
    display: inline-block;
}
.opcoes{
    margin: 1%;
    cursor: pointer;
    display: contents;
    width: 10%;
    height: 60px;
    color: aliceblue;
    font-size: large;
}
h1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.sumir{
    color: rgba(240, 255, 255, 0);
}
